/* ========================     
~ GRID
======================== */

.grid {
	margin-left: -$default-spacing;
}

.grid__col  {
	width: 100%;
	padding-left: $default-spacing;
}

.grid--list {
	margin-bottom: 0;
	list-style: none;
}