/* ========================     
~ VARIABLES 
======================== */

/* Helpers */
$default-spacing : 			20px !default;

/* Colors */
$link-color : 				"#1b5bbc" !default;
$success-color : 			"#72bc1b" !default;
$fail-color :	 			"#bc1b1b" !default;
$warning-color :			"#f09b16" !default;

/* Fonts */
$body-font-family : 		"'OpenSansRegular', sans-serif" !default;
$headings-font-family : 	"OpenSansLight, sans-serif" !default;